extends layout

block content
	.jumbotron
		.container
			h1.display-3 Observatório das Eleições
			p Portal de pesquisa exploratória sobre as eleições presidenciais, possibilitando a análise da influência ou não nas mídias digitais referentes às eleições
			p
				a.btn.btn-primary.btn-lg(href='/', role='button') Iniciar pesquisa »

	.row
		each option in showcase
			.col-md-4.text-center
				img(src=option.img, alt=option.alt, width="110")
				p= option.description

	p.text-center
		a.btn.btn-secondary(href='#', role='button') Veja os detalhes »
		-for (let brCnt = 0; brCnt < 5; brCnt++)
			br
