extends layout

block content
	.py-5.text-center
		h2 Espaço Exploratório
		p.lead
			| Aqui você tem a liberdade para fazer a sua pesquisa exploratória
			| sobre a projeção do cenário eleitoral nas mídias digitais

	.row.justify-content-around
		.col-6.order-md-2.bg-dark
			| .col-md-4
		.py-2.col-md-4.order-md-1.bg-light
			.py-2.h4.mb-3.text-center Controle
			form.needs-validation(novalidate='')
				.row
					.py-2.col-md-12
						label(for="digitalMedia") Mídia digital:
						select#digitalMedia.custom-select.d-block.w-100(required='')
							option(value='') Escolha...
							option Facebook
							option Instagram
							option Twitter
							option Youtube
						.invalid-feedback
							| Por favor selecione uma mídia válida.
					.py-2.col-md-12
						label(for="query") Aspecto de análise:
						select#query.custom-select.d-block.w-100(required='')
							option(value='') Escolha...
							option Curtidas
							option Seguidores
						.invalid-feedback
							| Por favor selecione um aspecto válido.
					.py-2.col-md-12
						label(for="category") Categorias:
						select#category.custom-select.d-block.w-100(required='')
							option(value='') Escolha...
							option Frentes/Coletivos
							option Organizações da Sociedade Civil
							option Candidatos à presidência
							option Todos
						.invalid-feedback
							| Por favor selecione um aspecto válido.
					//.py-2.col-md-12
						label(for="actors") Atores:
				.py-2.mb-4
						label Atores:
						.custom-control.custom-checkbox
							input#id1.custom-control-input(type='checkbox')
							label.custom-control-label(for='id1') Ator 1
						.custom-control.custom-checkbox
							input#id2.custom-control-input(type='checkbox')
							label.custom-control-label(for='id2') Ator 2
						.custom-control.custom-checkbox
							input#id2.custom-control-input(type='checkbox')
							label.custom-control-label(for='id2') Ator 2
						.custom-control.custom-checkbox
							input#id2.custom-control-input(type='checkbox')
							label.custom-control-label(for='id2') Ator 2

	//.col-md-8.order-md-1
		h4.mb-3 Billing address
		form.needs-validation(novalidate='')
			.row
			.col-md-6.mb-3
				label(for='firstName') First name
				input#firstName.form-control(type='text', placeholder='', value='', required='')
				.invalid-feedback
				| Valid first name is required.
			.col-md-6.mb-3
				label(for='lastName') Last name
				input#lastName.form-control(type='text', placeholder='', value='', required='')
				.invalid-feedback
				| Valid last name is required.
			.mb-3
			label(for='username') Username
			.input-group
				.input-group-prepend
				span.input-group-text @
				input#username.form-control(type='text', placeholder='Username', required='')
				.invalid-feedback(style='width: 100%;')
				| Your username is required.
			.mb-3
			label(for='email')
				| Email 
				span.text-muted (Optional)
			input#email.form-control(type='email', placeholder='you@example.com')
			.invalid-feedback
				| Please enter a valid email address for shipping updates.
			.mb-3
			label(for='address') Address
			input#address.form-control(type='text', placeholder='1234 Main St', required='')
			.invalid-feedback
				| Please enter your shipping address.
			.mb-3
			label(for='address2')
				| Address 2 
				span.text-muted (Optional)
			input#address2.form-control(type='text', placeholder='Apartment or suite')
			.row
			.col-md-5.mb-3
				label(for='country') Country
				select#country.custom-select.d-block.w-100(required='')
				option(value='') Choose...
				option United States
				.invalid-feedback
				| Please select a valid country.
			.col-md-4.mb-3
				label(for='state') State
				select#state.custom-select.d-block.w-100(required='')
				option(value='') Choose...
				option California
				.invalid-feedback
				| Please provide a valid state.
			.col-md-3.mb-3
				label(for='zip') Zip
				input#zip.form-control(type='text', placeholder='', required='')
				.invalid-feedback
				| Zip code required.
			hr.mb-4
			.custom-control.custom-checkbox
			input#same-address.custom-control-input(type='checkbox')
			label.custom-control-label(for='same-address') Shipping address is the same as my billing address
			.custom-control.custom-checkbox
			input#save-info.custom-control-input(type='checkbox')
			label.custom-control-label(for='save-info') Save this information for next time
			hr.mb-4
			h4.mb-3 Payment
			.d-block.my-3
			.custom-control.custom-radio
				input#credit.custom-control-input(name='paymentMethod', type='radio', checked='', required='')
				label.custom-control-label(for='credit') Credit card
			.custom-control.custom-radio
				input#debit.custom-control-input(name='paymentMethod', type='radio', required='')
				label.custom-control-label(for='debit') Debit card
			.custom-control.custom-radio
				input#paypal.custom-control-input(name='paymentMethod', type='radio', required='')
				label.custom-control-label(for='paypal') PayPal
			.row
			.col-md-6.mb-3
				label(for='cc-name') Name on card
				input#cc-name.form-control(type='text', placeholder='', required='')
				small.text-muted Full name as displayed on card
				.invalid-feedback
				| Name on card is required
			.col-md-6.mb-3
				label(for='cc-number') Credit card number
				input#cc-number.form-control(type='text', placeholder='', required='')
				.invalid-feedback
				| Credit card number is required
			.row
			.col-md-3.mb-3
				label(for='cc-expiration') Expiration
				input#cc-expiration.form-control(type='text', placeholder='', required='')
				.invalid-feedback
				| Expiration date required
			.col-md-3.mb-3
				label(for='cc-cvv') CVV
				input#cc-cvv.form-control(type='text', placeholder='', required='')
				.invalid-feedback
				| Security code required
			hr.mb-4
			button.btn.btn-primary.btn-lg.btn-block(type='submit') Continue to checkout
